*.dmnd
*.out
*.log
*.fasta
*.sbatch
*.ipynb_checkpoints/
data/VEuPathDB_KEGG/*.txt
data/ortho_annotations_per_genome_08_07_2019.csv
data/metanetx_chem_prop.tsv
data/ortho_annotations_per_genome_feb2019.csv
data/diamond_output_orthoMCL/TvaginalisG3_orthoMCL.tsv
data/aa_seqs_OrthoMCL_5.fasta
data/orthoMCL_proteins_diamond.dmnd
data/diamond_output_BiGG/*
models/with_biomass_*.xml
models/with_biomass_*.json
models/ortho_*.xml
models/ortho_*.json
models/for_sensitivity_with*
models/for_sensitivity_ortho*
models/for_sensitivity_de_novo*
models/final_denovo_*.xml
models/final_denovo_*.json
