*.dmnd
*.out
*.log
*.fasta
*.sbatch
data/ortho_annotations_per_genome_feb2019.csv 
data/diamond_output_orthoMCL/TvaginalisG3_orthoMCL.tsv
data/aa_seqs_OrthoMCL_5.fasta
data/orthoMCL_proteins_diamond.dmnd
!check_logs*_2019.log
